{% extends "maths/main.html" %}

{% block title %}Maths list{% endblock %}

{% block content %}
    <div class="search">
        <form>
            <label for="operation">Operacja</label>
            <input type="text" id="operation" name="operation">
            <input type="submit" value="szukaj">
        </form>
    </div>
    <ul>
        {% for m in maths %}
            <li><a href="{% url "maths:details" m.id %}">{{ m }}</a></li>
        {% endfor %}
    </ul>
    <div class="pagination">
    <span class="step-links">
        {% if maths.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ maths.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ maths.number }} of {{ maths.paginator.num_pages }}.
        </span>

        {% if maths.has_next %}
            <a href="?page={{ maths.next_page_number }}">next</a>
            <a href="?page={{ maths.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock %}