{% load bootstrap4 %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "Home" "/" %}
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {# Custom CSS #}
    <link rel="stylesheet" type="text/css" href="{% static 'maths/css/style.css' %}">

</head>
<body>
<div class="container">

    <div id="header">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <h1>DINGO</h1><small>working space with perspective...</small>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item {% if active == 'home' %}active{% endif %}">
                            <a class="nav-link" href="{% url "welcome" %}">Home</a>
                        </li>

                        <li class="nav-item {% if active == 'maths' %}active{% endif %}">
                            <a class="nav-link" href="{% url "maths:list" %}">Maths</a>
                        </li>
                        <li class="nav-item {% if active == 'posts' %}active{% endif %}">
                            <a class="nav-link" href="{% url "posts:list" %}">Posts</a>
                        </li>
                        <li class="nav-item {% if active == 'about' %}active{% endif %}">
                            <a class="nav-link" href="{% url "about" %}">About</a>
                        </li>
                        <li class="nav-item {% if active == 'contact' %}active{% endif %}">
                            <a class="nav-link" href="{% url "contact" %}">Contact</a>
                        </li>
                        <li>
                            {% if user.is_authenticated %}
                                <p class="nav-link">
                                    {{ user.username }} | <a href="{% url 'logout' %}">logout</a>
                                </p>
                            {% else %}
                                <a class="nav-link" href="{% url 'login' %}">login</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    {% bootstrap_messages %}
    <div id="inner-content">
        {% block content %}
            To jest blok kodu. W innych szablonach możemy go nadpisać
        {% endblock %}
    </div>
</div>
</body>
</html>

