{% load bootstrap4 %}
{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {# Custom CSS #}
    <link rel="stylesheet" type="text/css" href="{% static 'greetings/css/style.css' %}">
    <style>

    </style>

</head>
<body>
<div class="container">
    <div class="row">
        <a class="col-3 text-center button" href="{% url "about" %}">About</a>
        <a class="col-3 text-center button" href="{% url "posts:list" %}">Posts</a>
        <a class="col-3 text-center button" href="{% url "maths:list" %}">Maths</a>
        <a class="col-3 text-center button" href="{% url "contact" %}">Contact</a>
    </div>
    <h1>DINGO</h1>
</div>
</body>
</html>

