{% extends "main.html" %}

{% block title %}Posty{% endblock %}

{% load bootstrap4 %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "posts" "posts:list" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
    <div class="row">
        <div class="col-6">
            <table class="table">
            <tr>
                <th>Tytuł</th>
                <th>Autor</th>
                <th>Data</th>
            </tr>
                {% for p in post_list %}
                    <tr>
                        <td><a href="{% url "posts:details" p.id %}">{{ p.title }}</a></td>
                        <td>{{ p.author.nick }}</td>
                        <td>{{ p.created }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-6">
        </div>
    </div>

{% endblock %}